{% extends 'base.html.twig' %}

{% block title %}New Progression{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Progression</h1>

    {{ include('progression/_form.html.twig') }}

    <a href="{{ path('progression_index') }}">retour à la liste</a>
{% endblock %}
