{{ form_start(form) }}
    {{ form_row(form.libelle, {'label': 'Libellé','attr': 
    {'class':'form-control' }}) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
