{% extends 'base.html.twig' %}

{% block title %}New Matiere{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Matiere</h1>

    {{ include('matiere/_form.html.twig') }}

    <a href="{{ path('matiere_index') }}">retour à la liste</a>
{% endblock %}
